services:
  db:
    image: postgres:15
    container_name: corrupcion_db
    restart: always
    env_file: .env
    ports:
      - "5434:5434"
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: corrupcion_api
    restart: always
    depends_on:
      - db
    env_file: .env
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  pg_data:

